<aside>
    {{#if title}}
    <span class="font-bold text-[60px]">{{title}}</span>
    {{/if}}
    <div class="flex justify-between">
        <span class="font-bold text-[#E0AA00] text-[18px]">A blog by Faculty Group</span>
        <select class="rounded-lg bg-black/5 p-3">
            <option value="All">All companies</option>
            <option value="Faculty">Faculty Group</option>
            <option value="X8C">X8C</option>
        </select>
    </div>
    {{#foreach posts}}
        {{> card}}
    {{/foreach}}
</aside>