.body-wrapper {
    @apply flex w-full gap-y-4 md:gap-y-6 flex-col;

    .subtitle-wrapper {
        @apply flex justify-between items-center;
    }

    .subscribe-logo {
        width: 36px;
        height: 36px;
        filter: brightness(0) invert(1);
    }

    .white-placeholder {
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
        }

        &:focus {
            outline: none !important;
        }
    }

    .post-wrapper {
        @apply flex flex-col items-center md:grid md:justify-items-center gap-4 md:grid-cols-2 lg:grid-cols-3;

        .card-wrapper {
            @apply grid rounded-xl grid-rows-[4fr_3fr] w-full;
            border: 1px solid rgba(0,0,0,0.1);
            height: 350px;
            min-width: 350px;
            overflow: hidden;
            position: relative;

            &:hover {
                >div>img {
                    transform: scale(1.2);
                }
            }

            .read-more-wrapper {
                border: 1px solid rgba(0,0,0,0.1);
            }
        }
    }
}